Importing packages

In [7]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

Importing food access dataset

In [8]:
food_access_df = pd.read_csv('../data/food_access.csv')

Checking head/info

// TO DO: Isolate just the TN data from `food_access_df` and read into a new dataframe.

In [9]:
food_access_df.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

Filtering `food_access_df` into new DataFrame with just the TN entries.

In [10]:
tn_food_access_df = food_access_df[food_access_df['State']=='Tennessee']

In [11]:
tn_food_access_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1489 entries, 59698 to 61186
Columns: 147 entries, CensusTract to TractSNAP
dtypes: float64(126), int64(19), object(2)
memory usage: 1.7+ MB

Attempting to edit the `CensusTract` column to match Census tract numbers from `census_income_df`

First checking dtypes and then creating a new `CensusTract_Formatted` column, converting the int64 dtype in `CensusTract` into an object/string.

In [12]:
tn_food_access_df.dtypes

CensusTract        int64
State             object
County            object
Urban              int64
Pop2010            int64
                  ...
TractAIAN        float64
TractOMultir     float64
TractHispanic    float64
TractHUNV        float64
TractSNAP        float64
Length: 147, dtype: object

In [13]:
tn_food_access_df['CensusTract_Formatted'] = tn_food_access_df['CensusTract'].astype(str)

C:\Users\mgood\AppData\Local\Temp\ipykernel_22736\3094399602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_food_access_df['CensusTract_Formatted'] = tn_food_access_df['CensusTract'].astype(str)

In [14]:
# d['Report Number'] = d['Report Number'].str[3:]
tn_food_access_df['CensusTract_Formatted2'] = tn_food_access_df['CensusTract_Formatted'].str[6:]

C:\Users\mgood\AppData\Local\Temp\ipykernel_22736\551598922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_food_access_df['CensusTract_Formatted2'] = tn_food_access_df['CensusTract_Formatted'].str[6:]

In [15]:
tn_food_access_df.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,CensusTract_Formatted,CensusTract_Formatted2
59698,47001020100,Tennessee,Anderson County,1,3111,1546,0,6.0,0.19,0,...,853.0,130.0,2.0,9.0,148.0,145.0,206.0,438.0,47001020100,20100
59699,47001020201,Tennessee,Anderson County,1,3670,1535,0,103.0,2.81,0,...,144.0,256.0,0.0,6.0,106.0,84.0,49.0,31.0,47001020201,20201
59700,47001020202,Tennessee,Anderson County,1,4507,2025,0,230.0,5.10,0,...,194.0,128.0,0.0,18.0,179.0,214.0,174.0,208.0,47001020202,20202
59701,47001020300,Tennessee,Anderson County,1,3822,1656,0,0.0,0.00,0,...,278.0,20.0,3.0,18.0,213.0,179.0,53.0,109.0,47001020300,20300
59702,47001020400,Tennessee,Anderson County,1,4508,2013,0,106.0,2.35,1,...,264.0,34.0,3.0,20.0,332.0,277.0,86.0,406.0,47001020400,20400

Creating a new column each time just in case my methods don't work, but also going back to delete unneeded columns. Will rename to `CensusTract_Formatted` once I get the column I need.

In [16]:
del tn_food_access_df['CensusTract_Formatted']

I probably need to use a lambda argument to insert the decimal point into the existing numbers. This is from Free Code Camp:

lambda argument(s) : expression


1. lambda is a keyword in Python for defining the anonymous function.
2. argument(s) is a placeholder, that is a variable that will be used to hold the value you want to pass into the function expression. A lambda function can have multiple variables depending on what you want to achieve.
3. expression is the code you want to execute in the lambda function.

In [21]:
tn_food_access_df['CensusTract_Formatted3'] = tn_food_access_df['CensusTract_Formatted2'].apply(lambda x: x[:3] + '.' + x[3:])

C:\Users\mgood\AppData\Local\Temp\ipykernel_22736\1897836778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_food_access_df['CensusTract_Formatted3'] = tn_food_access_df['CensusTract_Formatted2'].apply(lambda x: x[:3] + '.' + x[3:])

In [22]:
tn_food_access_df.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,CensusTract_Formatted2,CensusTract_Formatted3
59698,47001020100,Tennessee,Anderson County,1,3111,1546,0,6.0,0.19,0,...,853.0,130.0,2.0,9.0,148.0,145.0,206.0,438.0,20100,201.00
59699,47001020201,Tennessee,Anderson County,1,3670,1535,0,103.0,2.81,0,...,144.0,256.0,0.0,6.0,106.0,84.0,49.0,31.0,20201,202.01
59700,47001020202,Tennessee,Anderson County,1,4507,2025,0,230.0,5.10,0,...,194.0,128.0,0.0,18.0,179.0,214.0,174.0,208.0,20202,202.02
59701,47001020300,Tennessee,Anderson County,1,3822,1656,0,0.0,0.00,0,...,278.0,20.0,3.0,18.0,213.0,179.0,53.0,109.0,20300,203.00
59702,47001020400,Tennessee,Anderson County,1,4508,2013,0,106.0,2.35,1,...,264.0,34.0,3.0,20.0,332.0,277.0,86.0,406.0,20400,204.00

Amazing! I can delete the extra CT formatted column and rename #3 to the most current.

In [23]:
del tn_food_access_df['CensusTract_Formatted2']

In [29]:
# rename column 'A' to 'X'
# df = df.rename(columns={'A': 'X'})

tn_food_access_df = tn_food_access_df.rename(columns={'CensusTract':'CT_Old','CensusTract_Formatted3':'CT_Clean'})

Reading in Census dataset and checking head/info. This will need to be cleaned and transformed!

In [18]:
census_income_df = pd.read_excel('../data/census_tn_income_b19001.xlsx')

In [19]:
census_income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Columns: 3405 entries, Unnamed: 0 to Unnamed: 3404
dtypes: object(3405)
memory usage: 479.0+ KB

In [31]:
census_income_df.head()

,Unnamed: 0,Tennessee,Unnamed: 2,"Census Tract 201, Anderson, TN",Unnamed: 4,"Census Tract 202.01, Anderson, TN",Unnamed: 6,"Census Tract 202.02, Anderson, TN",Unnamed: 8,"Census Tract 203, Anderson, TN",...,"Census Tract 309.05, Wilson, TN",Unnamed: 3396,"Census Tract 309.06, Wilson, TN",Unnamed: 3398,"Census Tract 309.07, Wilson, TN",Unnamed: 3400,"Census Tract 309.08, Wilson, TN",Unnamed: 3402,"Census Tract 310, Wilson, TN",Unnamed: 3404
0,NaN,Value,Error,Value,Error,Value,Error,Value,Error,Value,...,Value,Error,Value,Error,Value,Error,Value,Error,Value,Error
1,Total:,2713635,7405,1531,225,2029,160,1951,235,1567,...,1925,288,1963,244,2513,276,3124,432,2365,373
2,"Less than $10,000",144639,2807,156,90,93,73,235,127,25,...,38,64,0,19,109,89,133,92,159,106
3,"$10,000 to $14,999",122212,3595,74,52,28,35,159,126,95,...,0,19,21,35,60,58,61,102,174,158
4,"$15,000 to $19,999",111419,2673,41,42,26,30,7,13,56,...,0,19,17,30,59,68,46,52,124,75